Package: com.ckosmic.cmark
Name: cmark
Depends: mobilesubstrate, ws.hbang.common (>= 1.13)
Architecture: iphoneos-arm
Description: iMessage tweak
Maintainer: ckosmic
Author: ckosmic
Section: Tweaks
Depiction: https://ckosmic.github.io/repo/depictions/?p=com.ckosmic.cmark
Version: 0.0.1
Installed-Size: 220
