Package: com.ckosmic.cmark
Name: NoRisk
Architecture: iphoneos-arm
Description: iMessage tweak
Maintainer: Christian Kosman <support@tripleaxis.net>
Author: Christian Kosman <support@tripleaxis.net>
Section: Tweaks
Depends: mobilesubstrate, ws.hbang.common (>= 1.11)
Depiction: https://ckosmic.github.io/repo/depictions/?p=com.ckosmic.cmark
Version: 0.0.3
Installed-Size: 476
